#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
}

h1 {
  color: #333;
}

.App button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #98bbe0;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #895a7c;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #26323f;
  color: #fff;
  padding: 10px;
}

td {
  padding: 10px;
  text-align: center;
}

.image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

h3 {
  color: #333;
  margin: 5px 0;
}
